<div class="product-container">
    <a routerLink="/product-details/{{ product.id }}">
        <img class="product-image" src="{{ product.url }}" alt="{{ product.description }}"/>
    </a>
    <h3>{{ product.name }}</h3>
    <p>
      <strong>${{ product.price }}</strong>
    </p>  
    <select class="select-input btn btn-outline-primary" [(ngModel)]="quantity">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
    </select>
    <button class="btn btn-primary" (click)="addToCart()">Add To Cart</button>
  </div>